
@mixin vertical-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@mixin padded-sides {
  padding-left: 10px;
  padding-right: 10px;
}

@mixin font-med {
  font-size: 18px;
  font-weight: 500;
}