// Standard Colors
$body-text-color: rgb(57, 74, 89);
$label-color: rgb(129, 149, 167);
$check-color: rgb(81, 101, 118);
$outline-color: rgb(192, 202, 211);
$line-color: rgb(231, 232, 233);

$header-color: rgb(72, 101, 126);

// Halo Additional Colors
$background-color: rgb(245, 245, 245);
$alt-background-color: rgb(237, 237, 237);
$link-color: #5e9ed6;
$selected-color: rgb(51, 128, 196);
$grayed-text: #cfd9de;

$urgent-color: #e72100;

// Borders
$border: 1px solid $line-color;