html {
  font-size: 14px;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  line-height: 18px; //1.28571;
  color: $body-text-color;
}

strong,
.strong {
  font-weight: 500;
}

a:link {
  color: $link-color;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

$font-size-med: 18px;

.med-heading {
  font-size: $font-size-med;
  font-weight: 500;
}

.large-heading {
  font-size: 24px;
  font-weight: 500;
}

.selected {
  color: $selected-color;
}

.urgent {
  color: $urgent-color;
}