.widget {
  background: white;
  margin-right: 20px;
  margin-bottom: 20px;
  min-width: 340px;
  border: $border;

  > .widget-header {
    @include font-med;
    display: flex;
    align-items: center;
    height: 40px; // Move to _variables.scss
    border-bottom: $border;
  }

  > .widget-header,
  > .widget-body {
    @include padded-sides;
  }

  >.widget-body {
    padding: 10px;  // Move to _variables.scss
  }

  > .widget-header [icon] {
    margin-right: 5px;
  }

  > .widget-header [icon] > svg {
    fill: currentColor;
    stroke: currentColor;
  }
}